<div class="dashboard-container">

  <div class="status-cards">
    <app-profile [user]="user"></app-profile>
    <app-status-card [status]="airFilterStatus"></app-status-card>
    <app-status-card [status]="ledsStatus"></app-status-card>
  </div>

  <div class="energy-table">
    <h3>Average Energy Usage</h3>
    <table>
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Energy Produced</th>
          <th>Energy Saved</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of energyData">
          <td>{{data.timestamp | date:'medium'}}</td>
          <td>{{data.energyProduce}} kWh</td>
          <td>{{data.energySave}} kWh</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
