table {
  width: 100%;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

thead tr {
  background-color: #f2f2f2;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  font-weight: bold;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

h2 {
  margin-bottom: 10px;
  color: #4caf50;
}
