<div class="row">
  <div class="image-container">
    <img width="100%" src="assets/login.jpeg" alt="Login Illustration" />
  </div>
  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input
        type="text"
        id="username"
        formControlName="username"
        class="form-control"
        placeholder="Enter username"
      />
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
        placeholder="Enter password"
      />
      <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>
</div>
