.row {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.login-container {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-container button {
  padding: 10px;
  font-size: 16px;
  background-color: #728156;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

